.header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 40px 100px;
}

.header .logo, .wallet {
  width: 50%;
}

.header h1 {
  font-family: 'Ms Madi', cursive;
  margin: 0;
}

h5 {
  margin: 0;
  font-weight: 200;
  font-style: italic;
}

.connect-wallet, .send-eth {
  margin: 1.5rem 0 0 0;
  padding: 1rem;
  border: 0px solid rgb(33, 36, 151);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(33, 36, 151);
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.send-eth {
  font-size: 1.7rem;
  padding: 1.5rem 1rem;
}

.connect-wallet:focus, .send-eth:focus {
  outline: none;
}

.connect-wallet:hover, .send-eth:hover {
  background-color: #fff;
  color: #000;
}